body {
    text-align: center;
    color: white;
    background-image: url(https://wallpapers.com/images/featured/black-texture-9o3jwf3634n12lrk.jpg);
    
}
a{
    color:aqua;
}
span {
    display:inline-block;
}